<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jspAssignments</display-name>
  <welcome-file-list>
    <welcome-file>assignment1.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            D:\TOMCAT_HOME_6\apache-tomcat-6.0.48\webapps\data\
        </param-value>
    </context-param>
      <context-param>
        <param-name>User</param-name>
        <param-value>Surendra</param-value>
    </context-param>
</web-app>